html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    color: rgb(21, 75, 150);
}
.header {
    margin: 0;
    width: 100vw;
    min-height: 35px;
    align-items: center;
  
}
.flex {
    display: flex;
    justify-content: start;
}
.ml-12 {
   margin-left: 12px;
}
.mr-12 {
    margin-right: 30px;
 }
.pull-right {
    float: right;
}
.full-width {
    width: 100%;
}
.bg-color{
  background-color: rgb(0, 195, 255);
}
.header-logo{

}
.header-nav{

}
.bus-rating {
    width: 40px;
    height: 30px;
    text-align: center;
}
.bus-info {
    flex: 1 2 auto;
}
.ml-auto {
        margin-left: auto;
}
.modal {
    display: block;
    background-color: black;
}
footer {
    flex: 1 1;
    flex-direction: wrap;
    text-align: center
}
