html {
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
  
}
body {
    color: #185ADB;
}
.header {
    margin: 0;
    width: 100vw;
    min-height: 35px;
    align-items: center;
  
}
.flex {
    display: flex;
    justify-content: start;
}
.ml-12 {
   margin-left: 12px;
}
.mr-12 {
    margin-right: 30px;
 }
.pull-right {
    float: right;
}
.full-width {
    width: 100%;
}
.header-color{ 
  background-color: #FFC947;
 
}
.logo-color {

}
.header-logo{
    font-weight: 800;
    font-size: 30px;
}
.header-nav{

}

.book-ticket {
    width: 60%;
}
.bus-search {
   display: none;
}
.bus-rating {
    width: 40px;
    height: 30px;
    text-align: center;
}
.bus-info {
    flex: 1 2 auto;
}
.ml-auto {
        margin-left: auto;
}
.modal {
    display: block;
    background-color: black;
}
footer {
    flex: 1 1;
    flex-direction: wrap;
    text-align: center
}
.show {
    display: block;
}
.form-signin {
     /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: #FFC947;
    
}
.bus-detail {
    display: none;
    color: #EFEFEF;
    width: 300px;
    height: 40vh;
}
.ticket-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }